<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMS</title>
    <link rel="stylesheet" href="/static/css/tms.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tms.js"></script>
</head>
<body>

    <img src="/static/images/bg_img1.jpg" alt="" id="bg_img1">

    <div id="header">
        <div class="header">
            <div class="head_logo">
                <img src="../static/images/logo.png" alt="">
            </div>
            <div class="head_info">
                <span>欢迎你，郭小闹</span>
                <span><a href="./login.html">退出登录</a></span>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="content">

            <div class="info_list">
                <div class="user_info">
                    <div class="user_img">
                        <img src="/static/images/icon_wechat.gif" alt="头像">
                    </div>
                    <div class="user_detail">
                        <span>郭小闹</span>
                        <span>guoxiaonao@tedu.com</span>
                        <span>金牌讲师</span>
                    </div>
                </div>

                <div class="task_info">
                    <div id="task_info1">任务列表
                        <ul id="task_info1_1">
                            <li><a href="#">负责的任务</a></li>
                            <li><a href="#">发布的任务</a></li>
                        </ul>
                    </div>

                    <div id="task_info2"><a href="#">发布任务</a></div>
                    <div id="task_info3"><a href="#">任务日历</a></div>
                    <div id="task_info4">设置
                        <ul id="task_info4_1">
                            <li><a href="#">修改个人信息</a></li>
                            <li><a href="#">修改偏好设置</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="task_list">
                <div class="list_d_or_n">
                    <span class="list_d"><a href="#">已完成</a></span>
                    <span class="list_n"><a href="#">未完成</a></span>
                </div>
                <div class="list_line"></div>
                <div class="list_search"><input type="text" class="list_search_cnt"><input type="submit" class="list_search_sub" value="搜索"></div>
                <div class="list_detail">
                    <table rules="hsides">
                        <tr class="list_table" style="font-size: 16px">
                            <th width="200px">任务标题</th>
                            <th width="100px">发布人</th>
                            <th width="100px">提交时间</th>
                            <th width="50px">操作</th>
                            <th width="50px">等级</th>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">第一个任务</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">二龙戏珠啊</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">三阳开泰啦啦啦</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">四海生平</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">嫩牛五方</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">六六大顺</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">七窍玲珑心</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">八仙过海各显神通</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">九九八十一</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                        <tr class="list_table">
                            <td><a href="#">第十个任务阿阿阿阿阿</a></td>
                            <td>伍星宇</td>
                            <td>2019-12-02 08:00:00</td>
                            <td><a href="#">提交</a></td>
                            <td>普通</td>
                        </tr>
                    </table>
                </div>
                <div class="list_pages">
                    <span><a href="#">首页</a></span>
                    <span><a href="#">上一页</a></span>
                    <span><a href="#" name="1">1</a></span>
                    <span><a href="#" name="2">2</a></span>
                    <span><a href="#" name="3">3</a></span>
                    <span><a href="#" name="4">4</a></span>
                    <span><a href="#" name="5">5</a></span>
                    <span>...</span>
                    <span><a href="#">下一页</a></span>
                    <span><a href="#">尾页</a></span>
                </div>
            </div>

            <div class="task_detail">
                <div class="task_detail_detail">
                    任务详情
                </div>
                <div class="task_detail_title">
                    <b>标题：</b>第一次任务
                </div>
                <div class="task_detail_pub">
                    <b>发布人：</b>伍星宇
                </div>
                <div class="task_detail_ddl">
                    <b>期限：</b>2019-12-02 08:00:00
                </div>
                <div class="task_detail_djs">
                    <b>倒计时：</b>3天2小时45分2秒
                </div>
                <div class="task_detail_content1">
                    <b>任务详情：</b>
                </div>
                <div class="task_detail_content2">
                    请前往村头的桥边，村长在那里等你。也许你可以去看看，但记得带上你在野外捡到的玉佩。
                </div>
                <div class="task_detail_attach1">
                    <b>附件：</b>
                </div>
                <div class="task_detail_attach2">
                    <a href="#">小黑猫的照片.jpg</a>
                </div>
            </div>

        </div>
    </div>

    <!--<div id="footer">-->
        <!--<div class="footer">-->
            <!--&copy;2019 六进程并行小组-->
        <!--</div>-->
    <!--</div>-->

    <script src="/static/js/tms.js"></script>

</body>
</html>