<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMS-登录</title>
    <link rel="stylesheet" href="/static/css/tms.css">
</head>
<body>

    <img src="/static/images/bg_img1.jpg" alt="" id="bg_img1">

    <div id="log_cnt">
        <div id="log_logo">
            <img src="/static/images/logo.png" alt="">
        </div>
        <div id="log_form">
            <span class="form_title">登录用户</span>
            <form action="#">

            <span>
                <input type="text" placeholder="手机或邮箱" name="account" class="log_form_input">
            </span>
            <span>
                <input type="password" placeholder="密码 6-12位非空" name="password" class="log_form_input">
            </span>
            <span>
                <input type="submit" value="登录" class="log_form_sub">
            </span>
            <span class="log_act">
                <a href="#">忘记密码？</a>
            </span>

            </form>
        </div>

        <div id="scan">
            <span>扫码登录</span>
            <span>
                <a href="#">
                    <img src="/static/images/icon_wechat.gif" alt="">微信
                </a>
            </span>
            <span>
                <a href="#">
                    <img src="/static/images/icon_QQ.gif" alt="">QQ
                </a>
            </span>
            <span>
                <a href="#">
                    <img src="/static/images/icon_weibo.gif" alt="">微博
                </a>
            </span>

        </div>
    </div>



    <div id="log_footer">
        &copy;2019 六进程并行小组
    </div>
</body>
</html>