<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMS</title>
    <link rel="stylesheet" href="/static/css/tms.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tms.js"></script>
</head>
<body>

    <img src="/static/images/bg_img1.jpg" alt="" id="bg_img1">

    <div id="header">
        <div class="header">
            <div class="head_logo">
                <img src="../static/images/logo.png" alt="">
            </div>
            <div class="head_info">
                <span>欢迎你，郭小闹</span>
                <span><a href="./login.html">退出登录</a></span>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="content">

            <div class="info_list">
                <div class="user_info">
                    <div class="user_img">
                        <img src="/static/images/icon_wechat.gif" alt="头像">
                    </div>
                    <div class="user_detail">
                        <span>郭小闹</span>
                        <span>guoxiaonao@tedu.com</span>
                        <span>金牌讲师</span>
                    </div>
                </div>

                <div class="task_info">
                    <div id="task_info1">任务列表
                        <ul id="task_info1_1">
                            <li><a href="#">负责的任务</a></li>
                            <li><a href="#">发布的任务</a></li>
                        </ul>
                    </div>

                    <div id="task_info2"><a href="#">发布任务</a></div>
                    <div id="task_info3"><a href="#">任务日历</a></div>
                    <div id="task_info4">设置
                        <ul id="task_info4_1">
                            <li><a href="#">修改个人信息</a></li>
                            <li><a href="#">修改偏好设置</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mdf_user">
                <div class="mdf_user_form">
                    <form action="">
                        <div class="mdf_img"><img src="/static/images/icon_wechat.gif" alt=""><a href="#">请选择头像...</a></div>
                        <div><b>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</b><input type="text" name="username" value="guoxiaonao"></div>
                        <div><b>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：</b><input type="text" name="tel" value="13888888888"></div>
                        <div><b>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</b><input type="text" name="email" value="guoxiaonao@tedu.com"></div>
                        <div><b>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</b><input type="password" name="password" value="123456"></div>
                        <div><b>密码确认：</b><input type="password" name="password_c" value="123456"></div>
                        <div><b>部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门：</b><input type="text" name="dep" value="教学部"></div>
                        <div><b>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</b><input type="text" name="title" value="金牌讲师"></div>
                        <div><input type="submit" value="确认修改" class="mdf_btn"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div id="footer">
        <div class="footer">
            &copy;2019 六进程并行小组
        </div>
    </div>

    <script src="/static/js/tms.js"></script>

</body>
</html>